body {
	background-attachment: fixed;
	margin-top: 10.25rem;
}

@font-face {
	font-family: 'sleek';
	src: url('../fonts/sleek.woff');
	format('truetype');
}

h1,
h2,
h3,
h4,
h5,
a,
p {
	color: #F7F7F7;
	font-family: sleek;
	color: #000000;
}

p {
	text-indent: 50px;
}

.postbody>a:hover,
.postbody>a:focus,
.postcontent>p:hover,
.postcontent>p:focus,
.posttitle:hover,
.posttitle:focus,
.postsubtitle:hover,
.postsubtitle:focus,
.postdate:hover,
.postdate:focus {
	color: #e8e8e8;
	text-decoration: none;
	color: #42b983;
}

.postbody>a {
	text-align: center;
}

.postbody>a>.posttitle {
	font-size: 20px;
	line-height: 1.3;
	margin: 10;
	font-weight: 300;
	margin-bottom: 10px;
	margin-top: 10px;
}

.postbody>a>.postsubtitle {
	font-size: 15px;
	line-height: 0.4;
	margin: 0;
	margin-bottom: 10px;
}

.postdate {
	font-size: 5px;
	line-height: 14px;
	font-weight: bold;
	font-style: italic;
	color: #626262;
}

.postbody>a>.postcontent {
	margin-left: 10px;
	margin-right: 10px;
}

.postbodyxuhua {
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
	border-radius: 3%;
	backdrop-filter: blur(30px) brightness(1.1);
	-webkit-backdrop-filter: blur(30px);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .07), 0 1px 5px 0 rgba(0, 0, 0, .1);
}

.articlebody {
	margin-left: 10px;
	margin-right: 10px;

}


#footerlym {
	color: #FFFFFF;
	color: #000000;

}

#footerlym:focus,
#footerlym:hover {
	color: #42b983;
}

#footerbox {
	margin-top: 6.25rem;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	text-align: center;
	box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, .07), 0 -2px 5px 0 rgba(0, 0, 0, .1);
}

#navcontainer {

	backdrop-filter: blur(20px) brightness(1.1);
	-webkit-backdrop-filter: blur(20px);

}

.navbar-default {
	background: rgba(0, 0, 0, 0);
	border: 0;

}


.navbar-collapse {
	border: 0;
}


.aplayer {
	background: rgba(0, 0, 0, 0);
	font-family: sleek;
	border-radius: 3%;
	backdrop-filter: blur(5px) brightness(1.1);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 0 0 0 0
}

.btn-default,
.btn-default>a,
.navbar-toggle,
.navbar-brand {
	color: #ffffff;
	text-shadow: #000000 1px 1px 1px;
	border: 0;
}
..navbar-brand {
	text-align: center;
}
.navbar-toggle:focus,
.navbar-toggle:hover,
.navbar-collapse:focus,
.navbar-collapse:hover {
	background: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: inherit;
}
#block1{
	background-color: #42B983;
	height: 100px;
	text-align: center;

}
#block2{
	
}
#block3{
	
}
.navbar-header{
	
	width: 100%;

	}
	.aplayer .aplayer-lrc:after {
		bottom: 0;
		height: 33%;
		background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, hsla(-1, 0%, 100%, 0.0));
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff", endColorstr="#ccffffff", GradientType=0)
	}