body {
	background-color: #fafafa;
	background-image: url('/img/2.jpg');
	background-attachment: fixed;
}

@font-face {
	font-family: 'sleek';
	src: url('../fonts/sleek.woff');
	format('truetype');
}

h1,h2,h3,h4,h5,a,p {
	color: #F7F7F7;
	font-family: sleek;
}

p {
	text-indent: 50px;
}

.postbody>a:hover,
.postbody>a:focus {
	color: #e8e8e8;
	text-decoration: none;

}

.postbody>a>.posttitle {
	font-size: 20px;
	line-height: 1.3;
	margin: 10;
	font-weight: 300;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;



}

.postbody>a>.postsubtitle {
	font-size: 15px;
	line-height: 0.4;
	margin: 0;
	margin-bottom: 10px;
	text-align: center;

}

.postbody>a>.postdate {
	font-size: 5px;
	text-align: center;
	
	line-height: 14px;
}

.postbody>a>.postcontent {
	text-align: center;

	margin-left: 70px;
	margin-right: 70px;
}
.postbodyxuhua{
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
	border-radius: 3%;
	backdrop-filter: blur(5px) brightness(1.1);
	-webkit-backdrop-filter: blur(5px);
	
}
.articlebody {
	margin-left: 10px;
	margin-right: 10px;

}


#footerlym {
	color: #FFFFFF;
}

#footerbox {
	margin-top: 6.25rem;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
text-align: center;
}

#navcontainer {


	backdrop-filter: blur(5px) brightness(1.1);
	-webkit-backdrop-filter: blur(5px);

}

#navgaosi {

	background-image: url('/img/2.jpg');
}
#botton1,#botton2,#botton3{
	color: #ffffff;text-shadow: #000000 1px 1px 1px;"
}
#botton1,#botton2,#botton3>a{
	color: #ffffff; 
}