---
layout: default
home: index
---
{% for post in paginator.posts %}
<div class="postbodyxuhua">
	<div class="postbody">

		<a href="{{ post.url | prepend: site.baseurl }}" target="_blank">
			<h2 class="posttitle">
				#{{ post.title }}
			</h2>
			{% if post.subtitle %}
			<h3 class="postsubtitle">
			▷{{ post.subtitle }} ◁
			</h3>
			{% endif %}
			{% if post.date %}

			<h3 class="postdate">
				<span class="glyphicon glyphicon-share-alt "></span>&nbsp;&nbsp;&nbsp;首发时间：

				{{ post.date | date: "%Y-%m-%d"  }}
				<br /><span class="glyphicon glyphicon-user "></span>&nbsp;&nbsp;&nbsp;作者：
				{{ post.author }}
			</h3>

			{% endif %}


			<div class="postcontent">
				{{ post.content | strip_html | truncate:200 }}
			</div>
		</a>
	</div>
</div>
{% endfor %}
