---
layout: default
home: index
---
<!--box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .07), 0 1px 5px 0 rgba(0, 0, 0, .1);第一个是向右偏移，第二个是向下偏移，第三个是虚化半径，第四个是阴影宽度，写第二个为了上下有阴影-->
<!--https://github.com/metowolf/MetingJS#option-->
<div class="postbodyxuhua">
	<div class="postbody">
	
		<meting-js
			server="netease"
			type="playlist"
			id="5284412572"list-folded="true"list-max-height="300px" theme="#068237">
		</meting-js>
	</div>
</div>
{% for post in paginator.posts %}
<div class="row">
	<div class="col-md-9">
<div class="postbodyxuhua">

	<div class="postbody">

		<a href="{{ post.url | prepend: site.baseurl }}" target="_blank">
			<h2 class="posttitle">
			#<b>{{ post.title }}</b>	
			</h2>
			{% if post.subtitle %}
			<h3 class="postsubtitle">
				{{ post.subtitle }} 
			</h3>
			{% endif %}
		


			<div class="postcontent">
			<p>	
				{{ post.content | strip_html | truncate:200 }}
			</p>	
			</div>
		</a>
	</div>
</div>
</div>
<div class="col-md-3">
	<div class="postbodyxuhua">
		<div class="postbody">
			{% if post.date %}
			
			<h3 class="postdate">
				<span class="glyphicon glyphicon-share-alt "></span>&nbsp;&nbsp;&nbsp;首发时间：
			<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ post.date | date: "%Y-%m-%d"  }}
				<br /><span class="glyphicon glyphicon-user "></span>&nbsp;&nbsp;&nbsp;作者：
				<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ post.author }}
			</h3>
			
			{% endif %}</div>
			</div>
</div>
</div>
</div>
{% endfor %}
