<head>
	<meta charset="utf-8">
	
	<!--右键显示扩展名-->
	<!--baseur决定/样式表加载不出来重新push去掉/就可已了本地调试去掉/-->
	<meta name="description" content="{{ site.descripiton }}">
	<meta name="keywords" content="{{ site.keywords }}">
	
	 <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	
	<!--引出栅格试布局bootstrap的样式表-->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{{ "css/bootstrap.min.css"  | prepend: site.baseurl }}">

	<!--aplayer-->
	<link rel="stylesheet" href="/js/Aplayer/aplayer.min.css">
	<script src="/js/Aplayer/aplayer.min.js"></script>
	<script src="/js/Aplayer/player.js"></script>
	<!--记得大写-->
	<!--<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>-->
	<!--本地调试不加：“/”|由于有aplayer的，所以就要放到aplayer后边-->
	<link rel="stylesheet" href="{{ "css/blog.css" | prepend: site.baseurl }}">

	<title>
		{{ site.title }}
	</title>

</head>
