<style type="text/css" >
	.container-fluid{
		background-image: url('/img/2.jpg');
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
	}
	</style>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">-->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">

					<span class="sr-only" ></span>
					<span class="icon-bar" style="color: rgb(252,252,252);"></span>
					<span class="icon-bar" style="color: rgb(252,252,252);"></span>
					<span class="icon-bar" style="color: rgb(252,252,252);"></span>
				</button>
				<a class="navbar-brand" href="/" style="color: #ffffff;">LianYiMing</a>
		</div>
		<div class="collapse navbar-collapse" id="example-navbar-collapse">

			<ul class="nav navbar-nav">
				<li><a href="/" style="color: #ffffff;">Home</a></li>
				<li><a href="https://www.lianyiming.com" style="color: #ffffff;">主站</a></li>
			</ul>
		</div>

</nav>
