
<nav class="navbar navbar-fixed-top" role="navigation" id="navcontainer">
	<!--永远在样式表最下边测试样式表-->

   
			<div class="navbar-header ">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#LianYiMing-navbar-collapse" id="navcontain">
					<!--style要在上方设置-->
					<span class="glyphicon glyphicon-align-justify"></span>

				</button>
				<a class="navbar-brand" href="/" style="color: white;">LianYiMing</a>

			</div>
			<div class="collapse navbar-collapse" id="LianYiMing-navbar-collapse">

				{% if page.home == 'index' %}
				<button type="button" class="btn btn-default btn-sm active" >
					<span class="glyphicon glyphicon-home"></span>
					<a href="/">Home</a></button>
				{% else %}
<!--Css空格多个class
http://medium.com-->
				<button type="button" class="btn btn-default btn-sm " >
					<span class="glyphicon glyphicon-home"></span>
					<a href="/">Home</a></button>
				{% endif %}

				<button type="button" class="btn btn-default btn-sm" >
					<span class="glyphicon glyphicon-share-alt"></span>
					<a href="https://www.lianyiming.com">BlogSite</a>
				</button>

				<button type="button" class="btn btn-default btn-sm" >
					<span class="glyphicon glyphicon-user"></span>
					<a href="about.html">about</a>
				</button>


		
	
</nav>

