<!DOCTYPE html>
<html>
	<head>

		<script src="/js/aplayer/APlayer.min.js"></script>
	</head>

	<body>

		<div class="aplayer" data-id="60198" data-server="netease" data-type="playlist"></div>
		<div class="aplayer" data-id="002QE24W26baEy" data-server="tencent" data-type="album" data-fixed="true" data-autoplay="false"
		 data-volume="1.0" data-list-max-height="200px" data-list-folded="true"></div>
		{% include link.html %}
		{% include nav.html %}
		{{ content }}
		{% include footer.html %}
	</body>
</html>
