<!DOCTYPE html>
<html>
	<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--移动端bootstrap的正常显示问题-->
	<style
	>
		    .aplayer .aplayer-lrc p.aplayer-lrc-current {
		        font-size: 16px;
		        color: #42b983;
		    }
		
		
		</style>
	</head>

	<body>

	<script type="text/javascript" src="/js/ribbon-dynamic.js" async="async"></script>
				{% include link.html %}
	
		
		<body>
			{% include nav.html %}
		
			<!--Link放下边，不然nav的css无法集成-->
		{{ content }}
		
		{% include footer.html %}
		</body>
		<script>
			(function ($) {
		  
		  // Show the navbar when the page is scrolled up
		  var MQL = 992;
		
		  //primary navigation slide-in effect
		  if ($(window).width() > MQL) {
		    var headerHeight = $('#navcontainer').height();
		    $(window).on('scroll', {
		        previousTop: 0
		      },
		      function () {
		        var currentTop = $(window).scrollTop();
		        //check if user is scrolling up
		        if (currentTop < this.previousTop) {
		          //if scrolling up...
		          if (currentTop > 0 && $('#navcontainer').hasClass('is-fixed')) {
		            $('#navcontainer').addClass('is-visible');
		          }
		          // when scrolling to top
		           else {
		            $('#navcontainer').removeClass('is-visible is-fixed');
		          }
		        } else if (currentTop > this.previousTop) {
		          //if scrolling down...
		          $('#navcontainer').removeClass('is-visible');
		          if (currentTop > headerHeight && !$('#navcontainer').hasClass('is-fixed')) $('#navcontainer').addClass('is-fixed');
		        }
		        this.previousTop = currentTop;
		      });
		  }
		
		})(jQuery); //https://blog.csdn.net/weixin_44580977/article/details/107603393</script>
	</body>
</html>
