---
layout: default
---
<script>
	function Lym() {num = Math.floor((Math.random() * 10));
	console.log(num)
	document.body.style.backgroundImage="url('/img/postBg/1.jpg')"
	
	}
	setInterval(Lym,3000)
</script>
<meta name="referrer" content="never">
<!--让公众号图片认为自己在微信里，避免“来自公众号不可引用”-->
<style type="text/css">
	body{
		
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		background-attachment: fixed;
	}
	
</style>
<title>
	{{ post.title }}
</title>
<article>
	<div class="container">
		<div class="row">
			<div class="articlebody">

				{{ content }}
			</div>
		</div>
	</div>
	<ul class="poster">
		<li>
			<a href="{{ post.previous.url | pretend:site.baseurl | replace: '//', '/' }}" data-toggle="toolip" data-placement="top"
			 title="{{ page.previous.title }}">
				上一篇文章
				<br />
				<span>{{ page.previous.title }}</span>
			</a>
		</li>
<li>
	<a href="{{ post.next.url | pretend:site.baseurl | replace: '//', '/' }}" 
	data-toggle="toolip" data-placement="top" title="{{ page.next.title }}"
	</li>
	</ul>
</article>
